@import './ui.css';
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-alpha.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        text-rendering: optimizeLegibility;
        scroll-behavior: smooth;
    }

    textarea {
        @apply block resize-none;
    }
}

.dark {
    .homepage::after {
        background-image: url(/images/grid-white.svg);
        opacity: 0.09;
    }

    .homepage-account::after {
        background-image: url(/images/grid-white.svg);
        opacity: 0.04;
    }
}

.homepage::after,
.homepage-account::after {
    background-image: url(/images/grid.svg);
    opacity: 0.03;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    filter: unset;
    display: block;
    content: '';
    z-index: -2;
    height: 100dvh;
}
